.homepage {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 10vh;
  color: white;
  &__content {
    margin-top: 5em;
  }
  &__logo {
    height: 40vmin;
    pointer-events: none;
  }
}
