﻿.recipes-inventory{
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  background-color: #282c34;
  min-height: 100vh;
  &__message{
    background-color: #282c34;
    text-align: center;
    color: white;
  }
}

.nft{
  &__container{
    border: 1px solid white;
    border-radius: 2em;
    width: 256px;
    height: 256px;
    text-align: center;
    margin: 1em;
  }
  &__image{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  &__text{
    position: relative;
    color: white;
  }
}