﻿.recipes-creator{
  text-align: center;
  padding-top: 10vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  &__item {
    margin-top: 5em;
    &--button {
      margin-bottom: 5em;
    }
  }
  &__step {
    display: flex;
  }
  &__input-label {
    display: block;
    margin-bottom: 1em;
  }
  &__input {
    border-radius: 2em;
    padding: 1em;
    width: 25%;
    &--inline {
      vertical-align: baseline;
      margin-left: 1em;
      width: 50%;
    }
    &--quantity {
      width: 15%;
    }
  }
  &__input-item {
    margin-top: 5em;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  &__image-container{
    margin-top: 1em;
    text-align: center;
  }
  &__image {
    max-height: 512px;
    max-width: 512px;
  }
}

input[type="file"] {
  display: none;
}