﻿.recipe-market {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  background-color: #282c34;
  min-height: 100vh;
  &__message{
    background-color: #282c34;
    text-align: center;
    color: white;
  }
}

.nft{
  &__container{
    border: 1px solid white;
    margin: 1em;
  }
}